.home-container .right-container {
    width: 60%;
    display: inline-block;
    padding: 10px 0px;
    min-height: 500px;
    background-color: #f7f8f8;
}
  
.home-container .left-container {
    float: left;
    width: 40%;
    display: inline-block;
    padding: 10px 20px;
    min-height: 500px;
    background-color: #f7f8f8;
}
html, body, #manage {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-size: 13px;
}
  
.form-control {
    height: calc(3.25rem + 2px) ;
    font-size: 1.25rem;
}
.left-container{
  float: left;
}
.right-container{
  float: right;
}
