.home-container .right-container {
    width: 70%;
    display: inline-block;
    padding: 10px 0px;
    min-height: 500px;
    background-color: #f7f8f8;
}

.home-container .left-container {
    float: left;
    width: 30%;
    display: inline-block;
    padding: 10px 20px;
    min-height: 500px;
    background-color: #f7f8f8;
}
html, body, #manage {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.no-padding{
  padding: 0;
}

.form-control {
    height: calc(3.25rem + 2px) ;
    font-size: 1.25rem;
}

.img-active {
    border-color: #5c6ac4;
    box-shadow: 0px 0px 6px 4px #cccccc9c;;
}
.set-discount__img {
    width: 120px;
}

.disabled-form {
  pointer-events: none;
  background: gray;
}

.valid {
  border-color: #4caf50;
}

.invalid {
  border-color: #E64A19;
}
.left-container{
  float: left;
}
.right-container{
  float: right;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3d4a98;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3d4a98;
  cursor: pointer;
}

.valid {
  border-color: #4caf50;
}

.invalid {
 border-color: #E64A19;
}

.image-setting-product{
  width: 250px;
}

/*=============================
Manage
=============================== */
.section-manage .rulename-wrap{
  margin-bottom: 20px;
}
.section-manage .pagination-wrap  .btn-back-step{
  margin-right: 10px;
}
.section-manage .pagination-wrap  .btn-next-step,
.section-manage .pagination-wrap  .btn-back-step{
  margin-top: 20px;
  border: 1px solid transparent;
  float: right;
  transition-duration: 0.3s;
}
.section-manage .rulename-wrap .title-rulename{
  font-size: 16px;
  font-weight: 600;
  padding-right: 23px;
}
.section-manage .btn-next-step{
  transition-duration: 0.3s;
  margin: 20px 0;
  float: right;
  border-color: transparent;
}
.section-manage #alert-error{
  position: fixed;
  top: 6%;
  opacity: 0;
  background: #000;
  color: #fff;
  padding: 21px;
  font-size: 14px;
  z-index: 20;
  left: 50%;
  transform: translate(-50%,-50%);
  transition-duration: 0.2s;
  font-weight: 600;
  width: 256px;
  border-radius: 5px;
  cursor: context-menu;
}
.set-discount-wrap,.section-heading{
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
}
.product-search-wrap .title-search-product{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.product-wrap{
  transition-duration: 0.3s;
  display: block;
}
.product-wrap .thumbnail:hover{
  border-color: #3d4a98;
}
.product-wrap .checkmark{
  top: 7px;
  right: 26px;
  height: 15px;
  width: 15px;
}
.product-wrap .check-product .checkmark:after{
  left: 5.6px;
  top: 1.2px;
  width: 6px;
}
.product-wrap .img-main-product{
  height: 150px;
  object-fit:cover;
  width: 100%;
}
.content-manage .disabled-form.product-wrap{
  background: unset;
}
.product-wrap .product-step2{
  background: #5c6ac4;
}
#page_loading .loading{
  text-align: center;
}
.rulename-wrap .valid{
  border-color: #3d4a98;
}
.product-wrap .check-product{
  position: absolute;
  top: 4px;
  right: 0px;
}
.btn-add_a_new_rule{
  border: 1px solid transparent;
  margin: 0 auto;
  background: #3d4a98;
  width: 150px;
  padding: 11px 0;
  font-size: 14px;
  color: #fff;
  display: block;
  transition-duration: 0.3s
}
.btn-add_a_new_rule:hover{
  background: #303b7a;
  color: #fff;
}
.btn-next-step,.btn-back-step{
  margin: 20px 0;
  float: right;
}
.btn-next-step{
  margin-left: 5px;
}

/*=============================
Custom Checkboxes
=============================== */
.check-product {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-product input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.check-product:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-product input:checked ~ .checkmark {
  background-color: #5c6ac4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-product input:checked ~ .checkmark:after {
  display: block;
}

.check-product .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.split-title-product{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*==============================
discountType
================================  */
.section-heading .title-heading{text-align: center;}
.section-heading .discount-type-wrap{display: flex;margin: 50px 0px 15px;}
.section-heading .discount-type-wrap .title-discount{min-width: 10%;padding: 10px 15px 10px 0;}
.section-heading .discount-type-wrap .select-discount-type{width: 20%}
.section-heading .select-discount-type select{
    height: 36px;
    font-size: 15px;
  }
.set-discount-wrap tr > th,.set-discount-wrap tbody {
  text-align: center;
}
.set-discount-wrap tbody > tr >td{
  vertical-align: middle;
}
.set-discount-wrap tbody > .info-product >td:first-child{
  text-align: left;
  padding-left: 20px
}
.set-discount-wrap .text-discount{
  width: 23%;
  text-align: center;
  margin-right: 15px;
}
.set-discount-wrap .set-discount__sale-price{
  color: #fd0909;
  text-align: right;
  padding-right: 20px;
}
.set-discount-wrap .set-discount__title-img{
  width: 156px;
}
.set-discount-wrap .set-discount__title-sale{
  text-align: right;
  padding-right: 13px;
}

@media screen and (max-width: 340px){
  .section-manage .btn-next-step{
    float: left;
  }
}
.newline{
  display: none;
}

@media screen and (max-width: 415px){
  .newline{
    display: block;
  }
  .pagination-wrap{
    text-align: center;
  }
  .btn-back-step{
    float: left;
  }
}

.slidecontainer {
  width: 100%;
}

@media screen and (max-width: 767px){
  .product-wrap .img-main-product{
    height: auto;
  }
  .section-heading .discount-type-wrap .select-discount-type{
    width: 53%;
  }
}

/*==============================
related
================================*/
.related-wrap .related-search__title{
  font-size:36px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 33px;
}

/*=============================
Menu
===============================*/
.side-menu-inner{border-bottom: 1px solid #ccc}
.side-menu-inner .treeview a{
  color: #000;
  font-size: 17px;
  font-weight: 400;
  transition-duration: 0.3s;
  text-decoration: none;
}
.side-menu-inner .icon-close-menu{
  float: right;
}
.side-menu-inner .treeview a:hover{
  color: #3d4a98;
  text-decoration: none;
}
.side-menu-inner .active.treeview{
  border-bottom: 2px solid #3d4a98;
}
.side-menu-inner > li{
  list-style: none;
  display: inline-block;
  padding: 12px 9px 8px;
  margin-left: 25px;
}
#manage ul{padding-left: 0;margin-bottom: 30px;}
.btn-wrap{padding-right: 0;padding-left: 0;}
.content-manage .form-group input[type="text"]{
  height: 37px;
  font-size: 14px;
}

/*=============================
settings block left
=============================== */
.block-setting .left-side{
  margin-right: 70px;
  background: #fff;
}
.left-side,.right-side{
  background: #f7f8f8;
  border: 1px solid #ccc;
  padding: 0;
}
.left-side .left-side__control{
  border-bottom: 1px solid #ccc;
  padding: 21px 16px;
}
.left-side .left-side__title{
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding: 16px 27px;
  text-align: left;
  margin-bottom: 0;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0;
  cursor: pointer;
}
.left-side .active-dropdown{
  border-right: 4px solid #3d4a98;
}
.left-side .left-side__info{
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background: #f7f8f8;
  font-size: 14px;
}
.left-side .left-side__info > p:first-child{
  border-top: 1px solid #ccc;
  padding-top: 14px;
}
.left-side .btn-save{
  margin: 20px auto 12px;
  display: block;
  background: #3d4a98;
  border: 1px solid transparent;
  color: #fff;
  padding: 7px 18px;
  border-radius: 4px;
}

.left-side__control > div {
    margin-bottom: 20px;
}
.left-side__control .check-product .checkmark{
  left: 0;
  top: 11px;
  height: 16px;
  width: 16px;
}
.left-side__control .check-product{
  padding-left: 27px;
  margin-bottom: 0;
}
.left-side__control .check-product .left-side__checkbox-title{
  font-size: 14px;
  font-weight: normal;
}
.left-side__control .check-product .checkmark:after{
  left: 6px;
  top: 3px;
}
.left-side__control .left-side__product-group{
  margin-bottom: 41px;
  margin-top: 35px;
}
.left-side__control .left-side__product-img-size > div{
  display: flex;
  margin-bottom: 8px;
}
.left-side__control .left-side__product-img-size p{
  margin-bottom: 15px
}
.left-side__control .left-side__product-img-size input{
  width: 48px;
  text-align: center;
  height: 30px;
}
.left-side__control .left-side__product-img-size span{
  padding: 6px 7px;
}

/*=============================
settings block right
=============================== */
.right-side .image-setting-product{
  width: 100%;
}
.right-side .rihgt-side__menu{
  padding: 17px 50px;
  border-bottom: 1px solid #ccc;
}
.right-side .rihgt-side__menu .menu-title{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
}
.right-side .rihgt-side__menu >div:nth-child(2){
  padding: 10px 6px;
  font-size: 14px;
  font-weight: 500;
}
.rihgt-side__menu > div:nth-child(2) span:first-child{
  margin-right: 10px;
}
.right-side .right-side__form-product{
  margin: 50px 35px;
  font-size: 14px;
}
.right-side .right-side__form-product .title-product{
  font-weight: 600;
  font-size: 20px;
}
.right-side .right-side__form-product .price-product{
  font-weight: 600;
  font-size: 16px;
}
.right-side .right-side__form-product .btn-bundle{
  border: 1px solid transparent;
  padding: 5px 23px;
  float: right;
  margin-top: 19px;
  border-radius: 5px;
  margin-right: 28px;
}
.right-side .right-side__form-product .btn{
  padding: 9px 12px;
}
.right-side .right-side__option-title{
  text-align: center;
  margin: 32px 0 14px;
}
.right-side .check-product .checkmark{
  background-color: #ccc;
}
.right-side .check-product .checkmark:after{
  left: 6px;
  top: 3px;
}
.right-side .right-side__option > div:nth-child(n+2){
  padding-left: 0;
}
.right-side .right-side__option .old-price{
  margin-right: 23px;
}
.right-side .right-side__option .qty-option{
  width: 100%;
  text-align: center;
}
.right-side .right-side__option .select-option{
  width: 100%;
  height: 26px;
}
.right-side .right-side__total{
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
}
.right-side .right-side__total .first{
  font-weight: bold;
  margin-left: -15px;
  padding: 0;
}
.right-side .right-side__total .second{
  font-weight: bold;
  text-align: right;
}
.right-side .right-side__footer{
  border-top: 1px solid #ccc;
  padding: 27px 64px;
}
